@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    margin-top: 50px;
    width: 1220px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
    display: flex;
}

.description {
    width: 531px;
    height: 424px;
    margin: 105px 0 105px 111px;
}

.description h1 {
    margin-top: 0;
    line-height: 80px;
    font-weight: 700;
    font-size: 70px;
    color: white;
}

.description p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 26px;
}

.player img {
    width: 500px;
    height: 600px;
    padding-top: 33px;
    margin-left: 20px;
}

.first-btn {
    padding: 12px 20px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.first-btn i {
    margin-left: 10px;
}

main {
    padding-top: 100px;
    width: 1220px;
    grid-column-gap: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px auto;

}

.sidebar {
    background: #161616;
    border-radius: 10px;
    height: 260px;
    padding: 10px 30px;
}

.link-btn {
    width: 100%;
    padding: 20px 0;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    margin: 18px 0;
    text-align: center;
}

.link-btn a {
    text-decoration: none;
    color: #161616;
}

.link-btn:hover {
    background-color: #DD0000;
}

.side-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.side-blog img {
    width: 100%;
}

.blog {
    border: 1px solid rgb(232, 230, 230);
    border-radius: 10px;

}

.blog-description {
    padding: 15px;
}

.blog-description button {
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(232, 230, 230);
}

.blog-description p {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.ratting {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ratting img {
    margin-right: 10px;
}

.clock-img {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

footer {
    background-color: #161616;
    margin-top: 80px;
    padding: 40px 0;
}

footer h4 {
    margin: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;

}

.footer-title {
    width: 1220px;
    margin: auto;
}

.footer-title hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-link>p>a {
    text-decoration: none;
    font-size: 16px;
    color: #B9B9B9;
    ;
}

/* upcoming match */
.flags {
    border: 1px solid rgb(232, 230, 230);
    border-radius: 10px;
    padding: 40px 20px;
    height: 150px;

}

.flag {
    display: flex;
}

.flag img {
    width: 85px;
    height: 56px;
}

.flag h4 {
    margin: 0 20px;
    display: flex;
    width: 22px;
    align-items: center;
    justify-content: center;
}

.flag-description h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #161616;
    text-align: center;
}

.flag-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    color: #4D4D4D;
    text-align: center;
}